*{
    margin: 0;
    padding: 0;
    /* background-color: rgb(170, 197, 239); */
}
/* h1{
    color: blueviolet;
}

img{
    width: 150px;
    height: 150px;
}

.facebook {
    color: rgb(31, 31, 140);
}
.Media{
    background-color: rgb(47, 133, 116);
} */

/* h1{
    color: rgb(85, 173, 187);
}
h4{
    color: rgb(145, 89, 123);
}
img{
    height: 200 px;
    width: 200px ;
}
 .centerImage{
            display: block;
            margin-left: auto;
            margin-right: auto;
        } */


        img{
            width: 100%;
            max-width: 400px;
            object-fit: cover;
            vertical-align: middle;
        }

        .first{
            padding:0 15px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            gap: 5rem;
        
        }

        .intro{
            flex: 1;
        }
       h1{
        color: #080707;
       }
       p{
        color: #b86b30;
        font-size: larger;
       }

       #sample{
        background-color: rgb(153, 168, 154);
        border: 5px red solid;
       }
       .second{
        border-style: dotted;
        margin: 30px 10px;
        padding: 30px;
       }

       /* My Flex Box properties */
       .Container{
        background-color: aqua;
       }
       .childContainer{
        background-color: #c4b3a6;
        display: flex;
        /* gap: 40px; */
        justify-content: space-between;
        /* justify-content: space-around; */
       }